<div th:fragment="stylesheets" xmlns:th="http://www.w3.org/1999/xhtml">

</div>
<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" class="content-wrapper">
    <section class="content-header">
        <h1>
            User Manajemen
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/admin/user}">User</a></li>
            <li class="active">Add User</li>
        </ol>
    </section>
    <section class="content">

    </section>
</div>
<div th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
</div>