<div th:fragment="stylesheets" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/static/plugin/datatables/dataTables.bootstrap.css}"/>
</div>
<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" class="content-wrapper">
    <section class="content-header">
        <h1>
            User Manajemen
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User</li>
        </ol>
    </section>
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List Data User</h3>
                <div class="box-tools pull-right">
                    <a th:href="@{/admin/user/add}"><button type="button" class="btn btn-sm btn-primary">Tambah Data</button></a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover" id="tbl">
                    <thead>
                    <th>No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Aksi</th>
                    </thead>
                    <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box -->
    </section>
</div>
<div th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/static/plugin/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/plugin/datatables/dataTables.bootstrap.min.js}"></script>
    <script>
        $("#tbl").DataTable();
    </script>
</div>