<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin | Secman User</title>

    <!-- Root Css -->
    <link rel="stylesheet" th:href="@{/static/plugin/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/skins/_all-skins.min.css}"/>

    <!-- Css Page -->
    <div th:replace="${view} :: stylesheets"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<!--Site Wapper-->
<div class="wrapper">
    <!--Header-->
    <header th:replace="shared/header :: header"></header>

    <!--Sidebar-->
    <aside th:replace="shared/sidebar-admin :: sidebar-admin"></aside>

    <!--Content-->
    <div th:replace="${view} :: content"></div>

    <!--Footer-->
    <footer th:replace="shared/footer :: footer"></footer>
</div>

<!--Js Root-->
<script th:src="@{/static/plugin/jQuery/jQuery-2.2.3.min.js}"></script>
<script th:src="@{/static/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/plugin/slimScroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/static/plugin/fastclick/fastclick.min.js}"></script>
<script th:src="@{/static/js/app.min.js}"></script>
<script th:src="@{/static/js/demo.js}"></script>

<div th:replace="${view} :: scripts"></div>
</body>
</html>